body {
  margin: 0px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #f5f5dc;
}

#title {
  text-align: center;
  margin: 20px 0px;
  font-size: 80px;
  line-height: 1.2;
  color: #333;
}

main {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: auto;
  gap: 100px;  
}

/* Container */

#container {
  display: flex;
  flex-wrap: wrap;
  margin: auto 0;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  padding: 0px;
  box-shadow: 0 0 4px;
}

#container div { 
  box-sizing: border-box;
  padding: 0px;
}

/* Slider */

.options {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  width: 200px;
  height: auto;
}

button {
  padding: 20px;
  margin: 5px;
  border-radius: 15px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  outline: none;
  opacity: 1;
  border-radius: 10px;
  border: 1px solid #333;
  width: 200px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: #333;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #333;
  cursor: pointer;
}

.sliderOutput {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Footer */
#footerContainer {
  display: flex;
  flex-direction: column;
  min-height: 25vh;
}

footer {
  font-size: 20px;
  background-color: #dedec1;
  padding: 20px;
  margin-top: auto;
  text-align: center;
}
